ORDERBOOK_URL=http://host.docker.internal:8080
BYOS_URL=http://host.docker.internal:9585
RPC_URL=
SUBSOLVER_PRIVATE_KEY=
CONFIG_PATH=config.toml
BYOS_REQUESTS_PER_MINUTE=100
BYOS_READ_RESERVE=10
PROPOSAL_REFRESH_INTERVAL_SECONDS=15
