ORDERBOOK_URL=http://host.docker.internal:8080
BYOS_URL=http://host.docker.internal:9585
RPC_URL=
SUBSOLVER_PRIVATE_KEY=
CONFIG_PATH=config.toml
FYND_URL=http://fynd:3000
FYND_SLIPPAGE_BPS=50
FYND_QUOTE_CONCURRENCY=32
FYND_MAX_QUOTE_AGE_SECONDS=10
