[submodule "docs/shared"]
	path = docs/shared
	url = https://github.com/bleu/byos-docs
[submodule "offline-mode"]
	path = offline-mode
	url = https://github.com/bleu/cow-offline-mode.git
	branch = cow-1240
